<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title},_)">
    <title>修改密码</title>
</head>

<body>
    <header th:replace="~{base::header}"></header>
    <div class="container container-sm">
        <form class="form" method="POST" th:action="@{/manage/user/changepassword}" th:object="${changePasswordForm}">
            <h3>修改密码</h3>
            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="mb-3">
                <input type="password" id="oldpassword" th:field="*{oldpassword}" placeholder="旧密码" required>
            </div>
            <div class="mb-3"><input type="password" id="newpassword" th:field="*{newpassword}" placeholder="新密码"
                    required></div>
            <div class="mb-3"><input type="password" id="confirmpassword" th:field="*{confirmpassword}"
                    placeholder="再次输入新密码" required></div>

            <button class="btn btn-outline-dark me-3" value="submit">确定</button>
            <a th:href="@{/}" class="btn btn-outline-dark me-3">放弃</a>
        </form>
    </div>
    <footer th:replace="~{base::footer}"></footer>
</body>

</html>