<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head th:replace="base :: common_header(~{::title},_)">
    <title>组织管理</title>
</head>

<body>
    <header th:replace="~{base::header}"></header>
    <div class="container">
        <h2>组织修改</h2>
        <form class="row g-3" method="POST" th:action="@{/manage/organization/update}" th:object="${organization}">
            <input type="hidden" name="page" th:value="${pageable.getPageNumber()}">
            <input type="hidden" name="size" th:value="${pageable.getPageSize()}">
            <input type="hidden" th:field="*{id}">
            <div class="col-auto">
                <label for="name" class="col-form-label">组织名称</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" th:field="*{name}">
            </div>
            <div class="col-auto ms-3">
            <a class="btn btn-outline-dark me-3" th:href="@{'/manage/organization?page='+${pageable.getPageNumber()}+'&size='+${pageable.getPageSize()}}">返回</a>
            <button class="btn btn-outline-dark me-3">保存</button>
        </form>
    </div>
    <footer th:replace="~{base::footer}"></footer>
</body>

</html>