<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head th:replace="base :: common_header(~{::title},~{::link})">
    <title>组织管理</title>
    <link rel="stylesheet" th:href="@{/css/manage.css}">
</head>

<body>
    <div class="container">
        <aside th:replace="~{base::aside}"></aside>
        <main>
            <h2>组织维护</h2>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message}">
                <span th:text="${message}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table id="organizationtable" class="table table-bordered table-hover">
                <tr>
                    <th>组织</th>
                </tr>
                <tr th:each="organization:${organizations}" th:data-id="${organization.id}">
                    <input type="hidden" th:value="${organization.id}">
                    <td th:text="${organization.name}"></td>
                </tr>
            </table>
            <div class="btn-toolbar justify-content-between">
                <form name="delete" method="POST" th:action="@{/manage/organization/delete}">
                    <input type="hidden" name="page" th:value="${organizations.pageable.getPageNumber()}">
                    <input type="hidden" name="selectId" value="-1">
                    <a class="btn btn-outline-dark me-3"
                        th:href="@{'/manage/organization/add?page='+${organizations.pageable.getPageNumber()}+'&size='+${organizations.pageable.getPageSize()}}">添加</a>
                    <button id="edit" class="btn btn-outline-dark me-3" th:formaction="@{/manage/organization/edit}"
                        disabled>修改</button>
                    <button id="delete" class="btn btn-outline-dark me-3" disabled>删除</button>
                </form>
                <ul class="pagination justify-content-end">
                    <!-- 首页 -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/manage/organization?page=0}">首页</a>
                    </li>
                    <!-- 上一页 -->
                    <li class="page-item" th:if="${organizations.hasPrevious()}">
                        <a class="page-link"
                            th:href="@{'/manage/organization?page=' + ${organizations.previousPageable().getPageNumber()}}"
                            th:text="上一页"></a>
                    </li>
                    <!-- 中间页 -->
                    <li class="page-item" th:each="pageNum:${#numbers.sequence(0, organizations.getTotalPages() - 1)}"
                        th:classappend="${pageNum eq organizations.pageable.getPageNumber()}?'active'">
                        <a class="page-link" th:href="@{'/manage/organization?page=' + ${pageNum}}"
                            th:text="${pageNum + 1}"></a>
                    </li>
                    <!-- 下一页 -->
                    <li class="page-item" th:if="${organizations.hasNext()}">
                        <a class="page-link"
                            th:href="@{'/manage/organization?page=' + ${organizations.nextPageable().getPageNumber()}}"
                            th:text="下一页"></a>
                    </li>
                    <!-- 尾页 -->
                    <li class="page-item">
                        <a class="page-link"
                            th:href="@{'/manage/organization?page=' + ${organizations.getTotalPages() - 1}}">尾页</a>
                    </li>
                </ul>
            </div>

        </div>
    </main>
    <footer th:replace="~{base::footer}"></footer>
    <script>
        $('#organizationtable tr').click(function () {
            var row = $(this);
            if (row.hasClass("table-active")) {
                row.removeClass("table-active");
                $('form #edit').attr("disabled", "disabled");
                $('form #delete').attr("disabled", "disabled");
                $('form input[name="selectId"').val(-1);
            } else {
                row.addClass("table-active").siblings('*').removeClass("table-active");
                $('form #edit').removeAttr("disabled");
                $('form #delete').removeAttr("disabled");
                $('form input[name="selectId"').val(row.data("id"));
            }
        });
    </script>
</body>

</html>