<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head th:replace="base :: common_header(~{::title},_)">
    <title>组织管理</title>
</head>

<body>
    <header th:replace="~{base::header}"></header>
    <h2>上传文件</h2>
    <form method="POST" enctype="multipart/form-data" th:action="${'?'+_csrf.parameterName+'='+_csrf.token}">
        <div class="input-group container-md">
            <input type="file" name="file" class="form-control">
            <button type="submit" class="btn btn-outline-dark">上传</button>
        </div>
    </form>
    <footer th:replace="~{base::footer}"></footer>
</body>

</html>