<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title},_)">
    <title>用户登录</title>
</head>

<body>
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading">请登录</h2>
            <p style="color: red" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
            </p>
            <p>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required
                    autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
    <footer th:replace="~{base::footer}"></footer>
</body>

</html>